<div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <input type="checkbox"
               [disabled]="noEntities()"
               (change)="selectAll()"
               [checked]="isAllSelected()">
      </th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td>
        <input type="checkbox"
               (change)="select(person.id)"
               [checked]="isSelected(person.id)">
      </td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.age}}</td>
      <td>{{person.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
